html,
body {
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: #ffcc4d;
    text-decoration: none;
    font-weight: 500;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}
  
* {
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: black;
}

.main {
    padding: 2.5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0;
    line-height: 1.5;
    font-size: 5rem;
    color: #ffcc4d;
}
  
.title,
.description {
    text-align: center;
}

.description {
    line-height: 1.5;
    font-size: 1.5rem;
    color: white;
}

.map {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 00px;
    margin-top: 5rem;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}